.navbar {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  transition: all 0.5s ease-in;
  align-items: center;
  justify-content: space-between;
}

.navbar_black {
  background-color: #111;
}

.logo {
  display: flex;
  margin: 1rem;
  padding-left: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.nav_icons {
  display: flex;
  margin: 1rem;
  justify-content: space-evenly;
  flex-direction: row;
}

.navbar .MuiSvgIcon-root {
  fill: white;
}
