.drawer .MuiDrawer-root {
  width: 220px;
}

.drawer .MuiDrawer-paper {
  width: 220px;
  background-color: #1f1f1f;
  color: #6b757d;
}

.drawer .MuiSvgIcon-root {
  fill: white;
}

.drawer_header {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  color: white;
}

.drawer_contents {
  display: flex;
  margin: 1rem;
  flex-direction: column;
}

.drawer_contents .list_items:hover {
  text-decoration: none;
  color: white;
}

.profile_avatar {
  height: 18rem;
  width: 100%;
  background: no-repeat center center;
  background-size: cover;
  color: white;
  position: relative;
}

.profile_avatar > h3 {
  position: absolute;
  bottom: 0;
  margin: 1rem;
}
