.app {
  color: whitesmoke;
}

.multi_cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 1rem auto;
  border-top: 2px solid rgba(232, 232, 232, 1);
  border-bottom: 2px solid rgba(232, 232, 232, 1);
}
